<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com/dandy/mybatis/DandyMapper.xml">
<!--  -->
<!-- =================================================================Q & A 게시판================================================================= -->
<!-- Q & A 게시판 글 등록 -->
	<insert id="questionInsert" parameterType="qDTO">
		INSERT INTO question_board(bno, title, content, writer, ref, re_step, re_level, question_type, flag)
		VALUES((SELECT nvl(max(bno)+1, 1) from question_board),#{title},#{content},#{writer}, (SELECT nvl(max(bno)+1, 1) from question_board), 1,0,#{question_type},#{flag})
	</insert>
		
	<select id="listCriteria" resultType="qDTO">
		<![CDATA[
			SELECT *
			FROM (
				SELECT rownum rnum,
				a.*
				FROM (
					SELECT b.*, (SELECT COUNT(*)
							FROM tblreply d
							WHERE b.bno = d.bno) replycnt
					FROM question_board b
					WHERE bno > 0
					ORDER BY ref desc, re_step
				) a
			)
			WHERE rnum BETWEEN #{pageStart} AND #{perPageNum}
		]]>
	</select>
	
	
	<select id="scountPaging"  resultType="int">
		<![CDATA[
			SELECT count(bno)
			FROM question_board]]>
			<if test='flag == "직접입력"'>
				<![CDATA[WHERE bno > 0 AND title LIKE '%'||#{keyword}||'%' OR content LIKE '%'||#{keyword}||'%' OR writer LIKE '%'||#{keyword}||'%']]>
			</if>
			<if test='flag == "제목"'>
				<![CDATA[WHERE bno > 0 AND title LIKE '%'||#{keyword}||'%']]>
			</if>
			<if test='flag == "내용"'>
				<![CDATA[WHERE bno > 0 AND content LIKE '%'||#{keyword}||'%']]>
			</if>
			<if test='flag == "제목 + 내용"'>
				<![CDATA[WHERE bno > 0 AND title LIKE '%'||#{keyword}||'%' OR content LIKE '%'||#{keyword}||'%']]>
			</if>
			<if test='flag == "작성자"'>
				<![CDATA[WHERE bno > 0 AND writer LIKE '%'||#{keyword}||'%']]>
			</if>
		
	</select>
	
	<select id="questionDetail" parameterType="Integer" resultType="qDTO">
		SELECT *
		FROM question_board
		WHERE bno = #{bno}
	</select>
	
	<select id="questionReplyList" resultType="rDTO">
		SELECT *
		FROM question_reply
		WHERE bno = #{bno}
	</select>
	
	<select id="memIdCheck" resultType="memDTO" parameterType="String">
	  	SELECT mid FROM dandy_member 
	  	WHERE mid = #{mid}
	</select>
	
	<insert id="registerMember" parameterType="memDTO">
	  	INSERT INTO dandy_member(mid, mpw, mname, msex, mbirth, memail, mphone)
		VALUES(#{mid}, #{mpw}, #{mname}, #{msex}, #{mbirth}, #{memail}, #{mphone})
	</insert>
	
	<select id="movieListCriteria" resultType="movieDTO">
		<![CDATA[
			SELECT *
			FROM (
				SELECT rownum rnum,
				a.*
				FROM (
					SELECT * 
					FROM movieindex ]]>
					<if test='index == null'>
						<![CDATA[ WHERE mno > 0]]>
					</if>
					<if test='index != null'>
						<![CDATA[ WHERE mno > 0 AND indexchar = #{index}]]>
					</if>
					<![CDATA[
					ORDER BY mno
				) a
			)
			WHERE rnum BETWEEN #{pageStart} AND #{perPageNum}
		]]>
	</select>

	<select id="movieIndexListCriteria" resultType="movieDTO">
		<![CDATA[
			SELECT *
			FROM (
				SELECT rownum rnum,
				a.*
				FROM (
					SELECT * 
					FROM movieindex ]]>
					<if test='index == "A"'>
						<![CDATA[ WHERE mno > 0 AND indexchar = 'A']]>
					</if>
					<if test='index == "B"'>
						<![CDATA[ WHERE mno > 0 AND indexchar = 'B']]>
					</if>
					<if test='index == "C"'>
						<![CDATA[ WHERE mno > 0 AND indexchar = 'C']]>
					</if>
					<if test='index == "D"'>
						<![CDATA[ WHERE mno > 0 AND indexchar = 'D']]>
					</if>
					<if test='index == "E"'>
						<![CDATA[ WHERE mno > 0 AND indexchar = 'E']]>
					</if>
					<if test='index == "F"'>
						<![CDATA[ WHERE mno > 0 AND indexchar = 'F']]>
					</if>
					<if test='index == "G"'>
						<![CDATA[ WHERE mno > 0 AND indexchar = 'G']]>
					</if>
					<if test='index == "H"'>
						<![CDATA[ WHERE mno > 0 AND indexchar = 'H']]>
					</if>
					<if test='index == "I"'>
						<![CDATA[ WHERE mno > 0 AND indexchar = 'I']]>
					</if>
					<if test='index == "J"'>
						<![CDATA[ WHERE mno > 0 AND indexchar = 'J']]>
					</if>
					<if test='index == "K"'>
						<![CDATA[ WHERE mno > 0 AND indexchar = 'K']]>
					</if>
					<if test='index == "L"'>
						<![CDATA[ WHERE mno > 0 AND indexchar = 'L']]>
					</if>
					<if test='index == "M"'>
						<![CDATA[ WHERE mno > 0 AND indexchar = 'M']]>
					</if>
					<if test='index == "N"'>
						<![CDATA[ WHERE mno > 0 AND indexchar = 'N']]>
					</if>
					<if test='index == "O"'>
						<![CDATA[ WHERE mno > 0 AND indexchar = 'O']]>
					</if>
					<if test='index == "P"'>
						<![CDATA[ WHERE mno > 0 AND indexchar = 'P']]>
					</if>
					<if test='index == "Q"'>
						<![CDATA[ WHERE mno > 0 AND indexchar = 'Q']]>
					</if>
					<if test='index == "R"'>
						<![CDATA[ WHERE mno > 0 AND indexchar = 'R']]>
					</if>
					<if test='index == "S"'>
						<![CDATA[ WHERE mno > 0 AND indexchar = 'S']]>
					</if>
					<if test='index == "T"'>
						<![CDATA[ WHERE mno > 0 AND indexchar = 'T']]>
					</if>
					<if test='index == "U"'>
						<![CDATA[ WHERE mno > 0 AND indexchar = 'U']]>
					</if>
					<if test='index == "V"'>
						<![CDATA[ WHERE mno > 0 AND indexchar = 'V']]>
					</if>
					<if test='index == "W"'>
						<![CDATA[ WHERE mno > 0 AND indexchar = 'W']]>
					</if>
					<if test='index == "X"'>
						<![CDATA[ WHERE mno > 0 AND indexchar = 'X']]>
					</if>
					<if test='index == "Y"'>
						<![CDATA[ WHERE mno > 0 AND indexchar = 'Y']]>
					</if>
					<if test='index == "Z"'>
						<![CDATA[ WHERE mno > 0 AND indexchar = 'Z']]>
					</if>
					<if test='index == "0"'>
						<![CDATA[ WHERE mno > 0 AND indexchar = '0']]>
					</if>
					<![CDATA[
					ORDER BY mno
				) a
			)
			WHERE rnum BETWEEN #{pageStart} AND #{perPageNum}
		]]>
	</select>
	
	<select id="movieCountPaging"  resultType="int">
		<![CDATA[
			SELECT count(mno)
			FROM movieindex]]>
			<if test='index == "A"'>
				<![CDATA[WHERE mno > 0 AND indexchar = 'A']]>
			</if>
			<if test='index == "B"'>
				<![CDATA[WHERE mno > 0 AND indexchar = 'B']]>
			</if>
			<if test='index == "C"'>
				<![CDATA[WHERE mno > 0 AND indexchar = 'C']]>
			</if>
			<if test='index == "D"'>
				<![CDATA[WHERE mno > 0 AND indexchar = 'D']]>
			</if>
			<if test='index == "E"'>
				<![CDATA[WHERE mno > 0 AND indexchar = 'E']]>
			</if>
			<if test='index == "F"'>
				<![CDATA[WHERE mno > 0 AND indexchar = 'F']]>
			</if>
			<if test='index == "G"'>
				<![CDATA[WHERE mno > 0 AND indexchar = 'G']]>
			</if>
			<if test='index == "H"'>
				<![CDATA[WHERE mno > 0 AND indexchar = 'H']]>
			</if>
			<if test='index == "I"'>
				<![CDATA[WHERE mno > 0 AND indexchar = 'I']]>
			</if>
			<if test='index == "J"'>
				<![CDATA[WHERE mno > 0 AND indexchar = 'J']]>
			</if>
			<if test='index == "K"'>
				<![CDATA[WHERE mno > 0 AND indexchar = 'K']]>
			</if>
			<if test='index == "L"'>
				<![CDATA[WHERE mno > 0 AND indexchar = 'L']]>
			</if>
			<if test='index == "M"'>
				<![CDATA[WHERE mno > 0 AND indexchar = 'M']]>
			</if>
			<if test='index == "N"'>
				<![CDATA[WHERE mno > 0 AND indexchar = 'N']]>
			</if>
			<if test='index == "O"'>
				<![CDATA[WHERE mno > 0 AND indexchar = 'O']]>
			</if>
			<if test='index == "P"'>
				<![CDATA[WHERE mno > 0 AND indexchar = 'P']]>
			</if>
			<if test='index == "Q"'>
				<![CDATA[WHERE mno > 0 AND indexchar = 'Q']]>
			</if>
			<if test='index == "R"'>
				<![CDATA[WHERE mno > 0 AND indexchar = 'R']]>
			</if>
			<if test='index == "S"'>
				<![CDATA[WHERE mno > 0 AND indexchar = 'S']]>
			</if>
			<if test='index == "T"'>
				<![CDATA[WHERE mno > 0 AND indexchar = 'T']]>
			</if>
			<if test='index == "U"'>
				<![CDATA[WHERE mno > 0 AND indexchar = 'U']]>
			</if>
			<if test='index == "V"'>
				<![CDATA[WHERE mno > 0 AND indexchar = 'V']]>
			</if>
			<if test='index == "W"'>
				<![CDATA[WHERE mno > 0 AND indexchar = 'W']]>
			</if>
			<if test='index == "X"'>
				<![CDATA[WHERE mno > 0 AND indexchar = 'X']]>
			</if>
			<if test='index == "Y"'>
				<![CDATA[WHERE mno > 0 AND indexchar = 'Y']]>
			</if>
			<if test='index == "Z"'>
				<![CDATA[WHERE mno > 0 AND indexchar = 'Z']]>
			</if>
			<if test='index == "0"'>
				<![CDATA[WHERE mno > 0 AND indexchar = '0']]>
			</if>
	</select>
	
	
</mapper>



























