<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com/dandy/mybatis/DiyMapper.xml">

	<update id="alterTable" parameterType="eachDTO">
		ALTER TABLE ${title}
		ADD (word VARCHAR2(255)) 
		ADD (meaning VARCHAR2(4000))
		ADD (wno NUMBER(5))
		ADD (meaning2 VARCHAR2(4000))
	</update>
	
	
	<select id="selectWord" resultType="eachDTO" parameterType="eachDTO">
		SELECT * FROM ${title}
	</select>
	
	
	<update id="completeTable" parameterType="eachDTO">
		UPDATE ${title} SET 
		word = #{word}, 
		meaning = #{meaning},
		meaning2 = #{meaning2}
		WHERE morpheme = #{morpheme} 
	</update>

	<delete id="deleteNull" parameterType="eachDTO">
		DELETE FROM ${title} 
		WHERE meaning = 'null' or word = 'null'
	</delete>
	
	<select id="sortWord" resultType="eachDTO" parameterType="eachDTO">
		SELECT * FROM ${title}
		ORDER BY freq DESC
	</select>
	
	<update id="updateWno">
		UPDATE ${title} SET
		wno = (SELECT nvl(max(wno)+1, 1) from ${title}) 
		WHERE morpheme = #{morpheme}
	</update>
	
	<update id="updateNull">
		UPDATE ${title} SET
		meaning = 'null'
		WHERE meaning = null
	</update>

</mapper>