<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com/dandy/mybatis/FreeBoardMapper.xml">

<!-- =================================================================자유게시판================================================================= -->
		<!-- 자유게시판 리스트 출력 (정렬 추가) -->
			  <select id="fblistCriteria" resultType="fDTO">
			  	<![CDATA[
			  			SELECT *
			  			FROM (
			  				SELECT rownum rnum,
			  				a.*
			  				FROM (
			  					SELECT b.*, (SELECT COUNT(*) 
			  								FROM fbreply d
			  								WHERE b.bno = d.bno) replycnt 
			  					FROM board b
			  					WHERE bno > 0
			  					ORDER BY ref DESC, re_step ASC
			  				) a
			  			)
			  			WHERE rnum BETWEEN #{pageStart} AND #{perPageNum}
			  		]]>
			  	</select>
		<!-- 자유게시판 정렬 -->
				<select id="boardlineup_desc" resultType="fDTO" >
					<![CDATA[
			  			SELECT *
			  			FROM (
			  				SELECT rownum rnum,
			  				a.*
			  				FROM (
			  					SELECT b.*, (SELECT COUNT(*) 
			  								FROM fbreply d
			  								WHERE b.bno = d.bno) replycnt 
			  					FROM board b]]>
								<if test='lineup_code == "l_no"'>
									<![CDATA[ORDER BY bno desc]]>
								</if>
								<if test='lineup_code == "l_contents"'>
									<![CDATA[ORDER BY title desc]]>
								</if>
								<if test='lineup_code == "l_name"'>
									<![CDATA[ORDER BY writer desc]]>
								</if>
								<if test='lineup_code == "l_date"'>
									<![CDATA[ORDER BY regdate desc]]>
								</if>
								<if test='lineup_code == "l_view"'>
									<![CDATA[ORDER BY viewcnt desc]]>
								</if>
								<if test='lineup_code == "l_good"'>
									<![CDATA[ORDER BY goodcnt desc]]>
								</if>
								
								<![CDATA[
			  				) a
			  			)
			  			WHERE rnum BETWEEN #{pageStart} AND #{perPageNum}
			  		]]>
				</select>
				<select id="boardlineup_asc" resultType="fDTO" >
					<![CDATA[
			  			SELECT *
			  			FROM (
			  				SELECT rownum rnum,
			  				a.*
			  				FROM (
			  					SELECT b.*, (SELECT COUNT(*) 
			  								FROM fbreply d
			  								WHERE b.bno = d.bno) replycnt 
			  					FROM board b]]>
								<if test='lineup_code == "l_no"'>
									<![CDATA[ORDER BY bno asc]]>
								</if>
								<if test='lineup_code == "l_contents"'>
									<![CDATA[ORDER BY title asc]]>
								</if>
								<if test='lineup_code == "l_name"'>
									<![CDATA[ORDER BY writer asc]]>
								</if>
								<if test='lineup_code == "l_date"'>
									<![CDATA[ORDER BY regdate asc]]>
								</if>
								<if test='lineup_code == "l_view"'>
									<![CDATA[ORDER BY viewcnt asc]]>
								</if>
								<if test='lineup_code == "l_good"'>
									<![CDATA[ORDER BY goodcnt asc]]>
								</if>
								
								<![CDATA[
			  				) a
			  			)
			  			WHERE rnum BETWEEN #{pageStart} AND #{perPageNum}
			  		]]>
				</select>
		<!-- 자유게시판 게시글 등록 -->
				<insert id="boardinsert">
				  	INSERT INTO board (bno, title, writer, content,filename, filesize, ref, re_step, re_level) 
					VALUES((SELECT nvl(max(bno)+1, 1)from board), #{title}, #{writer}, #{content}, #{filename}, #{filesize}, (SELECT nvl(max(bno)+1, 1) from board), 1, 0)
				</insert>
		<!-- 자유게시판 게시글 상세페이지 -->
				<select id="boarddetailview" resultType="fDTO" parameterType="Integer">
				  	SELECT * FROM board
				  	WHERE bno = #{bno}
				</select>
		<!-- 자유게시판 게시글 수정페이지 -->
				<select id="boardupdateview" resultType="fDTO" parameterType="Integer">
				  	SELECT * FROM board
				  	WHERE bno = #{bno}
				</select>		
		<!-- 자유게시판 게시글 수정 -->
				<update id="boardupdate" parameterType="fDTO">
				  	UPDATE board
				  	SET title = #{title}, content = #{content}
				  	WHERE bno = #{bno}
				</update>
		<!-- 자유게시판 게시글 삭제 -->
				<delete id="boarddelete" parameterType="Integer">
				  	DELETE FROM board
				  	WHERE bno = #{bno}
				</delete>
		<!-- 자유게시판 조회수 -->
				<update id="boardViewCnt">
				  	UPDATE board
				  		SET viewcnt = viewcnt+1
				  		WHERE bno = #{bno}
			 	</update> 
		<!-- 자유게시판 좋아요 포인트 증가 -->
			 	<update id="boardGoodCnt">
				  	UPDATE board
				  		SET goodcnt = goodcnt+1
				  		WHERE bno = #{bno}
			 	</update>
		<!-- 자유게시판 검색 키워드 -->
			 	<select id="boardSearch" resultType="fDTO" parameterType="criDTO">
					<![CDATA[
			  			SELECT *
			  			FROM (
			  				SELECT rownum rnum,
			  				a.*
			  				FROM (
			  					SELECT b.*, (SELECT COUNT(*) 
			  								FROM fbreply d
			  								WHERE b.bno = d.bno) replycnt 
			  					FROM board b]]>
								<if test='flag == "1"'>
									<![CDATA[WHERE bno > 0 AND title LIKE '%'||#{keyword}||'%' OR content LIKE '%'||#{keyword}||'%' OR writer LIKE '%'||#{keyword}||'%']]>
								</if>
								<if test='flag == "2"'>
									<![CDATA[WHERE bno > 0 AND title LIKE '%'||#{keyword}||'%']]>
								</if>
								<if test='flag == "3"'>
									<![CDATA[WHERE bno > 0 AND content LIKE '%'||#{keyword}||'%']]>
								</if>
								<if test='flag == "4"'>
									<![CDATA[WHERE bno > 0 AND title LIKE '%'||#{keyword}||'%' OR content LIKE '%'||#{keyword}||'%']]>
								</if>
								<if test='flag == "5"'>
									<![CDATA[WHERE bno > 0 AND writer LIKE '%'||#{keyword}||'%']]>
								</if>
								
								<![CDATA[ORDER BY bno desc
			  				) a
			  			)
			  			WHERE rnum BETWEEN #{pageStart} AND #{perPageNum}
			  		]]>
			  	</select>
		<!-- 자유게시판 검색 페이지 -->
				<select id="fbscountPaging" resultType="int">
					<![CDATA[
						SELECT count(bno)
						FROM board]]>
						<if test='flag == "1"'>
							<![CDATA[WHERE bno > 0 AND title LIKE '%'||#{keyword}||'%' OR content LIKE '%'||#{keyword}||'%' OR writer LIKE '%'||#{keyword}||'%']]>
						</if>
						<if test='flag == "2"'>
							<![CDATA[WHERE bno > 0 AND title LIKE '%'||#{keyword}||'%']]>
						</if>
						<if test='flag == "3"'>
							<![CDATA[WHERE bno > 0 AND content LIKE '%'||#{keyword}||'%']]>
						</if>
						<if test='flag == "4"'>
							<![CDATA[WHERE bno > 0 AND title LIKE '%'||#{keyword}||'%' OR content LIKE '%'||#{keyword}||'%']]>
						</if>
						<if test='flag == "5"'>
							<![CDATA[WHERE bno > 0 AND writer LIKE '%'||#{keyword}||'%']]>
						</if>
				</select>
		
		<!-- 자유게시판 파일 다운로드 -->
				<select id="getFileName" parameterType="Integer" resultType="String" >
					SELECT filename
					FROM board
					WHERE bno= #{bno}
				</select>
		<!-- 자유게시판 다운로드 수 증가 -->
			 	<update id="downCount">
				  	UPDATE board
				  		SET downcnt = downcnt+1
				  		WHERE bno = #{bno}
			 	</update>
		<!-- 자유게시판 답글 -->
				<update id="updateStep">
					UPDATE board
					SET re_step = re_step + 1
					WHERE ref = #{ref} AND re_step >= #{re_step} 
				</update>
		<!-- 자유게시판 답글추가 -->
				<insert id="answerInsert" parameterType="fDTO" >
					INSERT INTO board (bno, title, writer, content, ref, re_step, re_level) 
					VALUES((SELECT nvl(max(bno)+1, 1)from board), #{title}, #{writer}, #{content}, #{ref}, #{re_step}, #{re_level})
			 	</insert>
		<!-- 자유게시판 리플출력 -->	
			<select id="freeReplyList" resultType="rDTO">
				SELECT *
				FROM fbreply
				WHERE bno = #{bno}
			</select>
		<!-- 자유게시판 리플추가 -->
			<insert id="freeReplyInsert" parameterType="rDTO">
				INSERT INTO fbreply(rno, content, writer, bno) 
				VALUES((SELECT nvl(max(rno)+1, 1) from fbreply),#{content}, #{writer}, #{bno})
			</insert>
		<!-- 자유게시판 리플삭제 -->
			<delete id="freeReplydelete" parameterType="Integer">
				DELETE FROM fbreply
				WHERE rno = #{rno}
			</delete>	
		<!-- 게시글이 삭제되면서 리플이 같이 삭제되는 쿼리문 -->
			 <delete id="bnoreplydelete" parameterType="Integer">
			  	DELETE FROM fbreply
			  	WHERE bno = #{bno}
			 </delete>
</mapper>