<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com/dandy/mybatis/MovieListMapper.xml">

	<!-- =================================================================MovieLIst================================================================= -->
	<select id="movieListCriteria" resultType="movieDTO">
		<![CDATA[
			SELECT *
			FROM (
				SELECT rownum rnum,
				a.*
				FROM (
					SELECT * 
					FROM movieindex ]]>
					<choose>
						<when test='index == "empty"'>
							<![CDATA[WHERE mno > 0 ]]>
						</when>
						<otherwise>
							<![CDATA[WHERE mno > 0 AND indexchar = #{index}]]>
						</otherwise>
					</choose>	
					<![CDATA[
					ORDER BY mno
				) a
			)
			WHERE rnum BETWEEN #{pageStart} AND #{perPageNum}
		]]>
	</select>
	
<!-- Index Page Movie List page count -->
	<select id="movieCountPaging"  resultType="int">
		<![CDATA[
			SELECT count(mno)
			FROM movieindex]]>
			<choose>
				<when test='index == "empty"'>
					<![CDATA[WHERE mno > 0 ]]>
				</when>
				<otherwise>
					<![CDATA[WHERE mno > 0 AND indexchar = #{index}]]>
				</otherwise>
			</choose>
	</select>

	
<!-- 영화 개별 단어장  -->
	<select id="movieEach" resultType="eachDTO" parameterType="eachDTO">
	  	SELECT * FROM ${tablename}
	  	ORDER BY freq desc
	</select>
	
	<select id="movieIndex" resultType="miDTO" parameterType="Integer">
		SELECT * FROM movieindex
		WHERE mno = #{mno2}
	</select>
	

</mapper>