<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com/dandy/mybatis/MypageWordMapper.xml">
<!-- =================================================================mypage.jsp에서 쓰는 쿼리================================================================= -->
<select id="selectMno" parameterType="String" resultType="memDTO">
	SELECT *
	FROM dandy_member
	WHERE mid=#{mid}
</select>

<select id="getMyPageMovieList" parameterType="movieDTO" resultType="movieDTO">
	select title, img, mno
	FROM MOVIEINDEX
	WHERE mno = (select mno${i}
    		    from dandy_member
        		where mid=#{mid}
    )
</select>
	
<update id="mywordUpdate">
      UPDATE dandy_member
      SET mno${i}=#{mno}
      WHERE mid=#{mid}
     
</update>

<update id="mywordDelete">
      UPDATE dandy_member
      SET mno${i}=null
      WHERE mid=#{mid}
     
</update>


</mapper>